/Space Dock.xcodeproj/xcuserdata/
/Space Dock.xcodeproj/project.xcworkspace/
.DS_Store
/build/
/spacedocksite/Data.xml

/android/bin/
/android/gen/

/android/test/bin/
/android/test/gen/
space_dock*.zip
.idea/
/android/app/src/main/.classpath
/android/app/src/main/.project
/android/app/src/main/bin/
/android/app/src/main/libs/
/android/app/src/main/project.properties
/gen/
