/Space Dock.xcodeproj/xcuserdata/
/Space Dock.xcodeproj/project.xcworkspace/
.DS_Store
/build/
/spacedocksite/Data.xml

/android/bin/
/android/gen/

/android/test/bin/
/android/test/gen/

space_dock*.zip

/MetaDock/MetaDock.xcodeproj/project.xcworkspace/
/MetaDock/MetaDock.xcodeproj/xcuserdata/
