<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funnyhatsoftware.spacedock"
    android:versionCode="65"
    android:versionName="1.1.25 (65)" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.funnyhatsoftware.spacedock.SpaceDockApplication"
        android:allowBackup="true"
        android:icon="@drawable/spacedock_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.RootTabActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.spacedocksquads" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/spacedocksquads"
                    android:pathPattern=".*\\.spacedocksquads" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SquadTabActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.RootTabActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RootTabActivity" />
        </activity>

        <!-- Single pane, browsing Activities -->
        <activity
            android:name=".activity.SetItemListActivity$BrowseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.RootTabActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RootTabActivity" />
        </activity>

        <activity
            android:name=".activity.DetailsActivity"
            android:parentActivityName=".activity.SetItemListActivity$BrowseActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SetItemListActivity$BrowseActivity" />
        </activity>

        <activity
            android:name=".activity.ExpansionDetailsActivity"
            android:parentActivityName=".activity.SetItemListActivity$BrowseActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SetItemListActivity$BrowseActivity" />
        </activity>

        <!-- Single pane, editing Activities -->
        <activity
            android:name=".activity.SetItemListActivity$SelectActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SquadTabActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SquadTabActivity" />
        </activity>

        <!-- Settings -->
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activity.RootTabActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RootTabActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.funnyhatsoftware.spacedock"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>