<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funnyhatsoftware.spacedock"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.funnyhatsoftware.spacedock.SpaceDockApplication"
        android:allowBackup="true"
        android:icon="@drawable/spacedock_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.RootActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.EditSquadActivity"
            android:parentActivityName=".activity.RootActivity" >
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activity.RootActivity" >
        </activity>
    </application>

</manifest>
