<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funnyhatsoftware.spacedock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.funnyhatsoftware.spacedock.SpaceDockApplication"
        android:allowBackup="true"
        android:icon="@drawable/spacedock_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.funnyhatsoftware.spacedock.ManageSquadsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.SquadBuildActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.funnyhatsoftware.spacedock.SetItemListActivity" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.TopMenuActivity"
            android:label="@string/title_activity_top_menu" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.ShipListActivity"
            android:label="@string/title_activity_ships_list"
            android:parentActivityName="TopMenuActivity" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.ShipDetailActivity"
            android:label="@string/title_activity_captain_detail"
            android:parentActivityName="ShipListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.ShipListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.CaptainsListActivity"
            android:label="@string/title_activity_captains_list"
            android:parentActivityName="TopMenuActivity" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.CaptainDetailActivity"
            android:label="@string/title_activity_captain_detail"
            android:parentActivityName="CaptainsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.CaptainsListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.UpgradeListActivity"
            android:label="@string/title_activity_crew_list"
            android:parentActivityName="TopMenuActivity" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.UpgradeDetailActivity"
            android:label="@string/title_activity_captain_detail"
            android:parentActivityName="UpgradeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.UpgradeListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.TalentDetailActivity"
            android:parentActivityName="UpgradeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.UpgradeListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.WeaponListActivity"
            android:label="@string/title_activity_weapon_list"
            android:parentActivityName="TopMenuActivity" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.WeaponDetailActivity"
            android:parentActivityName="WeaponListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.WeaponListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.ResourceListActivity"
            android:label="@string/title_activity_resource_list"
            android:parentActivityName="TopMenuActivity" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.ResourceDetailActivity"
            android:parentActivityName="ResourceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.ResourceListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.FlagshipListActivity"
            android:label="@string/title_activity_flagship_list"
            android:parentActivityName="TopMenuActivity" >
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.FlagshipDetailActivity"
            android:parentActivityName="FlagshipListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.FlagshipListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.SetListActivity"
            android:label="@string/title_activity_set_list"
            android:parentActivityName="TopMenuActivity" >
        </activity>
        </application>

</manifest>
