<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funnyhatsoftware.spacedock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.funnyhatsoftware.spacedock.SpaceDockApplication"
        android:allowBackup="true"
        android:icon="@drawable/spacedock_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".RootActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SquadBuildActivity" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="RootActivity" >
        </activity>

        <activity android:name="com.funnyhatsoftware.spacedock.SetItemListActivity" >
        </activity>

        <activity
            android:name="com.funnyhatsoftware.spacedock.ShipDetailActivity"
            android:label="@string/title_activity_captain_detail"
            android:parentActivityName="RootActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.ShipListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.CaptainDetailActivity"
            android:label="@string/title_activity_captain_detail"
            android:parentActivityName="RootActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.CaptainsListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.UpgradeDetailActivity"
            android:label="@string/title_activity_captain_detail"
            android:parentActivityName="RootActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.UpgradeListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.TalentDetailActivity"
            android:parentActivityName="RootActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.UpgradeListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.WeaponDetailActivity"
            android:parentActivityName="RootActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.WeaponListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.ResourceDetailActivity"
            android:parentActivityName="RootActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.ResourceListActivity" />
        </activity>
        <activity
            android:name="com.funnyhatsoftware.spacedock.FlagshipDetailActivity"
            android:parentActivityName="RootActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.funnyhatsoftware.spacedock.FlagshipListActivity" />
        </activity>
    </application>

</manifest>
