<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Space Dock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <h1>Space Dock</h1>
        <h2>About</h1>
        <p class="lead">
        Space Dock is a Macintosh, <a href="https://itunes.apple.com/us/app/st-space-dock/id740765008?ls=1&mt=8">iOS</a> and Android application for putting together squadrons 
        for <a href="http://wizkidsgames.com">WizK!d's</a> excellent <a href="http://wizkidsgames.com/startrek/star-trek-attack-wing">Star Trek: Attack Wing</a> game.
        </p>
        <p>Space Dock is very early software. While it is useful in its current form it is not very well tested. Make sure to export your most valuable squad designs for safe keeping.</p>
        <p>Space Dock Mac requires a Mac running OS X 10.8 or later due to a dependency on application development features available in that version or later.</p>
        <p>Space Dock iOS requires iOS version 6 or later.</p>
        <p>Space Dock Android is in early testing. If you'd like to help test please visit the <a href="https://plus.sandbox.google.com/communities/101516757258980614422">testing Google+ community</a> and ask to join. Once joined
          you can download the alpha test version from <a href="https://play.google.com/apps/testing/com.funnyhatsoftware.spacedock">the Google Play store</a>.</p>
        <p>Questions about Space Dock? Comment? Email me at <a href="mailto:rob@tsuk.com">rob@tsuk.com</a>.</p>
        <p>Questions about Star Trek: Attack Wing? Read the <a href="andrew_faq.html">FAQ thread limited to answers by the designer</a> or the <a href="full_faq.html">full FAQ thread</a> both on Board Game Geek.</p>
        <img src="sd_main_window.png">
        <h2>Download</h1>
            <a class="btn btn-large btn-primary" href="space_dock_b<%= max_build_number %>.zip">Download Space Dock</a>
        <h2>Change History<h2>
          <%= release_notes %>
    </div>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</html>
